
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.post{
    height:100px;
    width: 30px;
    display: flex;
    margin: 0 auto;
    background-color: black;
}
   
.trafficLight{
    border-radius:25px;
    height: 520px;
    width: 200px;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: rgb(2, 2, 2);
}
   
   
.lights{
    border-radius:25px;
    height: 350px;
    width: 150px;
    border: 2px solid black;
    position: absolute;
    margin: 12% 23px 0px 23px;
    background-color: black;
}
   
.redLight{
    border-radius:1000px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: red;
}
   
.yellowLight{
    border-radius:1000px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: orange;
}
   
.greenLight{
    border-radius:1000px;
    height: 120px;
    width: 120px;
    
    margin: 0 auto;
    margin-top: 20px;
    background-color: green;
}

.ligthOn{
    box-shadow: 0px 0px 80px 50px rgba(45,255,196,0.9);
}
